/* font-family: 'Lora', serif; */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');
/* For titles and headings
font-family: 'Old Standard TT', serif; */
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
/* For paragraphs
font-family: 'Karma', serif; */
@import url('https://fonts.googleapis.com/css2?family=Karma&display=swap');
/* For Links and NavBar
font-family: 'Marcellus', serif; */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');


body {
  background: #FFF;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  color: #18422E;
}

p {
  font-family: 'Karma', serif;
  color: #18422E;
}

a, button {
  font-family: 'Marcellus', serif;
}

.logo {
  font-size: 1.5em;
  font-family: 'Lora', serif;
}

.site-header .navbar-nav .nav-link {
  color: #fff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #8ED52E ;
  text-decoration: underline;
}

.site-header .navbar {
  background-color: #18422E;
}

/* Startof loader styles */
/* Loader Styling */
.loaderelement {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 80px;
  height: 80px;
  border: 8px solid #18422E;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0 deg); }
  100% { transform: rotate(360 deg); }
}

/* End of loader styles */




legend.lego {
  color: #18422E;
  font-size: 1.2em;
}

h2.intro-txt {
  text-align: center;
  font-family: 'Lora', serif;
  letter-spacing: -0.5px;
  margin-bottom: 3em;
  
}

p.intermed-txt {
  color: #18422E;
}








/* Styling the footer section */

footer {
  
  width: 100%;
  padding: 0.3em;
}

.mt-2em {
  margin: 1.5em 0em 1.5em 0em !important;
}

.icons {
  display: inline !important;
}

.futa {
  margin: 1em;
  color: #000 !important;
  font-size: 1em;
}

a {
  text-decoration: none;
}

.futa:hover {
  color: #8ED52E  !important;
}








/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
  div.formcol-4 {
    display: none;
  }
  h2.intro-txt {
    margin-top: 1.5em;
    margin-bottom: 2em;
    font-size: 2.5em;
  }

  
}