{% extends 'neighbor/base.html' %}

{% load crispy_forms_tags %}

{% block content %}    
  

<body style="background-color: #F1FADF;">
  
  <div class="logform" style="background: url('../../../media/Home\ background\ img.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat;">

    <!-- Form start -->
    <div class="content-section container-fluid mt-5">
  
      <div class="row">      
  
        <div class="col-sm-4 mx-auto formcol-4" style="background: #ffffff;
        padding: 10px 20px;
        border: 1px solid #dddddd;
        border-radius: 5px;
        margin-top: 6em;">
  
          <form method="POST" action="">
            
            <!-- Add si-rf tokns here -->
            {% csrf_token %}
      
            <fieldset class="form-group">
              <legend class="border-bottom mb-4 lego">
                Enter your neighbourhood and get in the know...
              </legend>
      
              <!-- Add krispi forms variable here -->
              {{ form|crispy }}
  
            </fieldset>
      
            <div class="form-group">
              <a href="{% url 'login' %}" class="btn btn-outline-success">
                <!-- <button class="btn btn-outline-success" type="submit"> -->
                JOIN THEM
                <!-- </button> -->
              </a>
              
              <!-- <small class="text-muted ml-2">
                <a href="#">
                  Forgot password?
                </a>
              </small> -->
            </div>
      
          </form>
<!--       
          <div class="border-top pt-3">
      
            <small class="text-muted">
              Don't have an account?<a href="{% url 'register' %}" class="ml-2">Register</a>
            </small>
      
          </div> -->
    
        </div>
  
      </div>
  
      <h2 class="intro-txt">
        Tap into your<br>
        <span>neighborhood...</span>
      </h2>
  
    </div>
  
  </div>


  <!-- Text area -->
  <div class="container-fluid" style="background: #ffffff; padding: 2em; ">
    <h2 class="text-center text-dark">
      Get the most out of your<br>neighborhood with Nextdoor
    </h2>
    <div class="row col-sm-4 mx-auto">
      <p class="text-center intermed-txt">
        It's where communities come together to greet newcomers, exchange recommendations, and read the latest local news. Where neighbors support local businesses and get updates from public agencies. Where neighbors borrow tools and sell couches. It's how to get the most out of everything nearby. Welcome, neighbor.
      </p>
    </div>
    
  </div>

  <!-- Start of the about txt -->
  <section class="3">
    <div class="container">      
      <div class="row mx-auto text-center m-5">
        <div class="col">
          <!-- Illustration -->
          <img src="../../../media/essential.svg" alt="essential" title="essential">
          <h5>Essential</h5>
          <p>Relevant news and information from neighbors, businesses, and public agencies in real time.</p>
        </div>
        <div class="col">
          <!-- Illustration -->
          <img src="../../../media/local.svg" alt="local" title="local">
          <h5>Local</h5>
          <p>The only way to instantly connect to the people, businesses, and happenings near your home.</p>
        </div>
        <div class="col">
          <!-- Illustration -->
          <img src="../../../media/trusted.svg" alt="trusted" title="trusted">
          <h5>Trusted</h5>
          <p>A secure environment where all neighbors are verified.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Start of the call to action section -->
  <section class="3">
    <div class="container">      
      <div class="row mx-auto text-center m-5">
        <div class="col">
          <!-- Illustration -->
          <h5>Instantly connect with your<br>neighborhood</h5>
          <div class="form-group mt-3">
            <a href="{% url 'register' %}" class="btn btn-outline-success">
              <!-- <button class="btn btn-outline-success" type="submit"> -->
              REGISTER
              <!-- </button> -->
            </a>
            
            <!-- <small class="text-muted ml-2">
              <a href="#">
                Forgot password?
              </a>
            </small> -->
          </div>
        </div>        
      </div>
    </div>
  </section>

</body>

  

{% endblock content %}  