{% extends 'neighbor/base.html' %}



{% block content %}    
  

<body style="background-color: #F1FADF;">
  
  <div class="logform">

    <!-- Form start -->
    <div class="content-section container-fluid mt-5">
  
      <div class="row">      
  
        <div class="col-sm-4 mx-auto formcol-4" style="background: #ffffff;
        padding: 10px 20px;
        border: 1px solid #dddddd;
        border-radius: 5px;
        margin-top: 6em;">
  
          <form method="POST" action="">
            
            <!-- Add si-rf tokns here -->
      
            <fieldset class="form-group">
              <legend class="border-bottom mb-4 lego">
                Enter your neighbourhood name to login
              </legend>
      
              <!-- Add krispi forms variable here -->
  
            </fieldset>
      
            <div class="form-group">
              <button class="btn btn-outline-success" type="submit">
                LOGIN
              </button>
              <small class="text-muted ml-2">
                <a href="#">
                  Forgot password?
                </a>
              </small>
            </div>
      
          </form>
      
          <div class="border-top pt-3">
      
            <small class="text-muted">
              Don't have an account?<a href="#" class="ml-2">Register</a>
            </small>
      
          </div>
    
        </div>
  
      </div>
  
      <h2 class="intro-txt">
        Tap into your<br>
        <span style="margin-left: 0.8em;">neighborhood...</span>
      </h2>
  
    </div>
  
  </div>
  <!-- Text area -->
  <div class="container-fluid" style="background-color: #ffffff; padding: 2em;">
    <h2 class="text-center text-dark">
      Get the most out of your<br>neighborhood with Nextdoor
    </h2>
    <div class="row col-sm-4 mx-auto">
      <p class="text-center intermed-txt">
        It's where communities come together to greet newcomers, exchange recommendations, and read the latest local news. Where neighbors support local businesses and get updates from public agencies. Where neighbors borrow tools and sell couches. It's how to get the most out of everything nearby. Welcome, neighbor.
      </p>
    </div>
    
  </div>

  <!-- Start of the about txt -->
  <section>
    <div class="container">      
      <div class="row mx-auto text-center m-4">
        <div class="col">
          <!-- Illustration -->
          <h5>Essential</h5>
          <p>Relevant news and information from neighbors, businesses, and public agencies in real time.</p>
        </div>
        <div class="col">
          <!-- Illustration -->
          <h5>Local</h5>
          <p>The only way to instantly connect to the people, businesses, and happenings near your home.</p>
        </div>
        <div class="col">
          <!-- Illustration -->
          <h5>Trusted</h5>
          <p>A secure environment where all neighbors are verified.</p>
        </div>
      </div>
    </div>
  </section>

</body>

  

{% endblock content %}  